

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Handlee', cursive;
}


.navbar{
    background-color: rgb(243, 203, 70);
    height: 60px;
    width: 100x;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1;
    
}
h2{
    float: right;
    margin-right: 200px;
    line-height: 60px;
    font-weight: lighter;
}



.navbar-center{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    

}
.nav-icon{
    font-size: 1.5rem;
}
.cart-btn{
    position: relative;
    cursor: pointer;
}
.cart-item {
    position: absolute;
    top: -12px;
    right: -8px;
    background: hotpink;
    padding: 0 5px;
    border-radius: 30%;
    color: honeydew;
}
.main-content{
    background-image:linear-gradient(rgba(-5, -5, -5, 0.8),rgba(-2, -2, -2, 0.5)), url('b.jpg');
    background-size: cover;
    height: 115vh;
    text-align: center;
    color: white;
    bottom: 50%;
    left: 80%;
   
}

.btn{
    border-radius: 200px;
    transition: background-color 0.2s , border 0.2s , color 0.2 ;
    text-decoration: none;
    padding: 5px 20px;
}
.btn-full{
    background-color: transparent;
    color: rgb(211, 139, 181);
    border: 2px solid rgb(248, 7, 148);
    margin-top: 0.5cm;
    float: left;
    margin-left: 150px;
}
.btn-full:hover{
    background-color: white;
}
a{
    color: #000;
    text-decoration: none;
}


.mc{
    text-align: center;
}

#sec1{
    text-align: center;
}
#sec2{
    text-align: center;
}
#sec3{
    text-align: center;
}
#sec4{
    text-align: center;
}


.card {
     
   justify-content: space-around;
    top: 0px;
    transition: all 0.3s ease-in-out;
   max-width: 650px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    color: black;
  }
  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 25%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    right: 0;
    background-color:wheat; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow: scroll;
   
  }
  h5{
      text-align: center;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      
  }
  
  .title{
      font-size: large;

  }
  .popup-wrapper{
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
  }

  .popup{
      font-family: Arial;
      text-align: center;
      width: 100%;
      max-width: 300px;
      margin: 10% auto;
      padding: 2cm;
      background: white;
      position: relative;
      color: crimson;
  }
  .popup-close{
      position: absolute;
      top: 5px;
      right: 8px;
      cursor: pointer;
  }
